# <center> Multiple Linear Regression on CO2 Emissions : Core Logic Approach </center>

## Importing Dependencies

In [1]:
import numpy as np
import pandas as pd
import math
import random

## Importing the dataset into the environment

In [2]:
co2Data = pd.read_csv("Datasets/CO2emission.csv") #loading dataset

## Inspecting the dataset

In [3]:
co2Data[:5] # head()

,Make,Model,VehicleClass,EngineSize,Cylinders,FuelConsumptionCity,CO2Emissions
0,ACURA,ILX,COMPACT,2.0,4,9.9,196
1,ACURA,ILX,COMPACT,2.4,4,11.2,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,6.0,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,12.7,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,12.1,244

In [4]:
co2Data.shape # (rows, columns)

(7385, 7)

In [5]:
co2Data.isnull().sum()

Make                   0
Model                  0
VehicleClass           0
EngineSize             0
Cylinders              0
FuelConsumptionCity    0
CO2Emissions           0
dtype: int64

In [6]:
co2Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7385 entries, 0 to 7384
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Make                 7385 non-null   object
 1   Model                7385 non-null   object
 2   VehicleClass         7385 non-null   object
 3   EngineSize           7385 non-null   float64
 4   Cylinders            7385 non-null   int64
 5   FuelConsumptionCity  7385 non-null   float64
 6   CO2Emissions         7385 non-null   int64
dtypes: float64(2), int64(2), object(3)
memory usage: 404.0+ KB

In [7]:
co2Data.describe()

        EngineSize    Cylinders  FuelConsumptionCity  CO2Emissions
count  7385.000000  7385.000000          7385.000000   7385.000000
mean      3.160068     5.615030            12.556534    250.584699
std       1.354170     1.828307             3.500274     58.512679
min       0.900000     3.000000             4.200000     96.000000
25%       2.000000     4.000000            10.100000    208.000000
50%       3.000000     6.000000            12.100000    246.000000
75%       3.700000     6.000000            14.600000    288.000000
max       8.400000    16.000000            30.600000    522.000000

In [8]:
co2Data.duplicated().sum() #number of duplicated rows

1295

In [9]:
co2Data = co2Data.drop_duplicates() #dropping duplicated rows
co2Data.duplicated().sum() #number of duplicated rows

0

In [10]:
co2Data.shape

(6090, 7)

In [11]:
# Classes within the 'Make' attribute
print("The categories in the column {} are as follows = {}".format("'Make'",set(co2Data.Make)))
print("The count of categories in the column {} = {}".format("'Make'", len(set(co2Data.Make))))

The categories in the column 'Make' are as follows = {'MAZDA', 'HYUNDAI', 'JAGUAR', 'ASTON MARTIN', 'LINCOLN', 'NISSAN', 'DODGE', 'MERCEDES-BENZ', 'TOYOTA', 'BMW', 'VOLVO', 'FORD', 'FIAT', 'CHEVROLET', 'ROLLS-ROYCE', 'BUGATTI', 'CHRYSLER', 'AUDI', 'BUICK', 'KIA', 'GENESIS', 'MINI', 'SUBARU', 'SRT', 'GMC', 'SMART', 'JEEP', 'LAMBORGHINI', 'HONDA', 'ACURA', 'MITSUBISHI', 'INFINITI', 'PORSCHE', 'LAND ROVER', 'MASERATI', 'ALFA ROMEO', 'RAM', 'VOLKSWAGEN', 'CADILLAC', 'LEXUS', 'SCION', 'BENTLEY'}
The count of categories in the column 'Make' = 42

In [12]:
# Classes within the 'Model' attribute
print("The count of categories in the column {} = {}".format("'Model'", len(set(co2Data.Model))))
print("The categories in the column {} are as follows = {}".format("'Model'",set(co2Data.Model)))

The count of categories in the column 'Model' = 2053

In [13]:
# Classes within the 'VehicleClass' attribute
print("The categories in the column {} are as follows = {}".format("'VehicleClass'",set(co2Data.VehicleClass)))
print("The count of categories in the column {} = {}".format("'VehicleClass'", len(set(co2Data.VehicleClass))))

The categories in the column 'VehicleClass' are as follows = {'SUBCOMPACT', 'MINICOMPACT', 'PICKUP TRUCK - SMALL', 'SUV - STANDARD', 'MID-SIZE', 'COMPACT', 'VAN - PASSENGER', 'SUV - SMALL', 'MINIVAN', 'FULL-SIZE', 'PICKUP TRUCK - STANDARD', 'VAN - CARGO', 'SPECIAL PURPOSE VEHICLE', 'STATION WAGON - SMALL', 'STATION WAGON - MID-SIZE', 'TWO-SEATER'}
The count of categories in the column 'VehicleClass' = 16

## Target Encoding

- <i> Target encoding captures the relationship with the target variable without increasing dimensionality excessively, unlike one-hot encoding. </i>
- <i> In contrast, label encoding can mislead the model because it imposes an ordinal relationship. </i>

In [14]:
def targetEncodingScheme(feature):
    classesFromFeature = list(set(co2Data[feature]))
    classesFromFeature = { key : [] for key in classesFromFeature}
    for index in range(len(co2Data)):
        classesFromFeature[co2Data[feature].iloc[index]].append(co2Data['CO2Emissions'].iloc[index])
    classesFromFeature = {category: format((sum(emissions) / len(classesFromFeature[category])), ".2f") for category, emissions in classesFromFeature.items()}
    return classesFromFeature

In [15]:
classesFromMake = targetEncodingScheme('Make')
classesFromMake

{'MAZDA': '192.74',
 'HYUNDAI': '207.80',
 'JAGUAR': '271.88',
 'ASTON MARTIN': '344.28',
 'LINCOLN': '264.70',
 'NISSAN': '236.13',
 'DODGE': '276.90',
 'MERCEDES-BENZ': '279.20',
 'TOYOTA': '225.27',
 'BMW': '252.43',
 'VOLVO': '230.17',
 'FORD': '261.96',
 'FIAT': '192.29',
 'CHEVROLET': '264.81',
 'ROLLS-ROYCE': '389.38',
 'BUGATTI': '522.00',
 'CHRYSLER': '244.05',
 'AUDI': '252.80',
 'BUICK': '233.94',
 'KIA': '214.31',
 'GENESIS': '282.57',
 'MINI': '196.64',
 'SUBARU': '218.18',
 'SRT': '389.00',
 'GMC': '300.61',
 'SMART': '151.43',
 'JEEP': '250.49',
 'LAMBORGHINI': '402.27',
 'HONDA': '191.45',
 'ACURA': '221.08',
 'MITSUBISHI': '201.12',
 'INFINITI': '252.62',
 'PORSCHE': '258.55',
 'LAND ROVER': '287.85',
 'MASERATI': '320.04',
 'ALFA ROMEO': '231.32',
 'RAM': '294.18',
 'VOLKSWAGEN': '209.57',
 'CADILLAC': '266.23',
 'LEXUS': '242.11',
 'SCION': '198.12',
 'BENTLEY': '367.91'}

In [16]:
classesFromModel = targetEncodingScheme('Model')
classesFromModel

{'F-150 RAPTOR 4X4': '376.50',
 'Transit Connect Wagon LWB': '232.50',
 'F-TYPE SVR AWD Coupe': '299.00',
 'A4': '195.60',
 'AMG SL 65': '338.00',
 'MACAN TURBO KIT': '286.00',
 '528i SEDAN': '205.00',
 'AMG GLE 63 S 4MATIC Coupe': '357.00',
 '230i COUPE': '208.00',
 'Range Rover 5.0 Supercharged': '305.00',
 'Kona': '186.50',
 'CT5-V AWD': '276.00',
 'F-TYPE R AWD Coupe': '305.00',
 'S 65 AMG COUPE': '345.00',
 'F-TYPE COUPE R-DYNAMIC AWD': '265.00',
 'AMG GT S COUPE': '302.50',
 'Giulia AWD': '217.00',
 'FRONTIER': '285.50',
 'Yukon XL FFV': '306.00',
 'M760Li xDrive': '355.00',
 'CAMRY XLE/XSE': '173.00',
 'S 560 CABRIOLET': '276.00',
 'E 400 COUPE': '237.00',
 'X3 xDrive30i': '219.00',
 'Sequoia 4WD': '384.50',
 'Q70': '273.67',
 'E 400 CABRIOLET': '231.50',
 'CAMARO ZL1': '358.88',
 'Forte': '173.25',
 'VELOSTER': '182.29',
 'X6 xDRIVE35i': '267.00',
 'Cayenne': '267.00',
 'LANCER RALLIART': '267.00',
 'CHALLENGER SRT HELLCAT': '345.80',
 'Taurus AWD': '294.00',
 'GRAND CHEROKEE 4X4 TRACKHAWK': '413.00',
 'PANAMERA': '245.00',
 'Discovery TD6 Diesel': '279.00',
 'ACTIVEHYBRID 3': '195.50',
 'ML 63 AMG 4MATIC': '357.50',
 'M240i xDRIVE COUPE': '227.50',
 'SONATA HYBRID': '139.80',
 'ATS': '226.88',
 'CHARGER SRT HELLCAT': '338.50',
 '650i xDrive Gran Coupe': '282.00',
 'COOPER CONVERTIBLE': '177.50',
 'Journey FFV': '279.00',
 'Corvette': '291.67',
 'CRUZE DIESEL': '175.60',
 'Canyon 4WD': '277.00',
 'SIERRA eASSIST': '278.00',
 'TSX': '225.33',
 'Challenger': '291.33',
 'IMPREZA AWD': '207.88',
 'Optima Hybrid': '132.50',
 'AMG S 63 CABRIOLET': '322.00',
 'Wrangler JL 4X4': '261.33',
 'Odyssey': '250.00',
 'AMG C 63 COUPE': '285.00',
 'SONATA HYBRID SE': '134.50',
 'Vanquish Zagato': '346.00',
 'XJL AWD PORTFOLIO': '286.50',
 'SANTA FE AWD': '266.50',
 'Huracan Coupe AWD': '370.00',
 'SLK 250': '206.00',
 'E 350 4MATIC COUPE': '239.00',
 'CHALLENGER': '289.50',
 'SL 550': '275.33',
 'Q60 AWD': '250.25',
 'Ascent AWD': '244.00',
 'ENCORE (LUV Engine)': '194.00',
 'Golf R': '222.50',
 'GRAND CHEROKEE 4X4 SRT': '368.00',
 'EXPRESS 1500 CARGO': '349.00',
 'S 560 4MATIC SWB': '263.00',
 'EXPRESS 1500 CARGO CONV': '362.00',
 'S60 T6': '218.00',
 'Panamera GTS': '295.00',
 'TIGUAN 4MOTION': '248.50',
 'QX60': '241.00',
 'JOHN COOPER WORKS CLUBMAN ALL4': '219.00',
 'TRAX': '191.29',
 'ILX HYBRID': '138.00',
 'E150 VAN FFV': '369.75',
 'CONTINENTAL SUPERSPORTS': '389.00',
 'RENEGADE FFV': '210.00',
 'TT RS': '243.00',
 '1500 eTorque': '271.50',
 'RLX Hybrid': '196.00',
 'Range Rover Velar D180': '229.00',
 '750i xDRIVE SEDAN': '294.00',
 'C 300 4MATIC': '213.00',
 'Grand Cherokee 4X4 EcoDiesel': '268.00',
 'E 400 4MATIC CABRIOLET': '251.00',
 'AMG GLE 43 4MATIC': '285.00',
 'Canyon': '262.17',
 'SIERRA 4WD FFV': '301.50',
 'Challenger AWD': '258.00',
 '328i': '196.50',
 'SLK 300': '199.00',
 'Metris Passenger': '268.00',
 'M4 Coupe': '285.67',
 'XV CROSSTREK HYBRID AWD': '175.00',
 'EXPRESS 1500 PASSENGER': '362.00',
 'AMG SL 63': '297.33',
 'QUATTROPORTE S': '300.00',
 'CTS-V': '332.67',
 'COOPER S 5 DOOR': '199.50',
 'iQ': '145.00',
 'AMG C 43 4MATIC COUPE': '245.00',
 '330i xDrive Gran Turismo': '207.00',
 '86': '222.67',
 'XE 25t AWD': '200.00',
 'LEVANTE': '340.00',
 'A3 QUATTRO': '201.33',
 'C 300 4MATIC CABRIOLET': '223.00',
 'LaCrosse': '233.00',
 'Beetle Dune Convertible': '189.00',
 'F-150 4X4 Limited': '296.00',
 'EcoSport': '196.50',
 'XJ R-SPORT 3.0 AWD': '275.50',
 'Yaris Hatchback': '171.00',
 'ELANTRA COUPE': '191.00',
 'Q50S RED SPORT AWD': '256.50',
 'Silverado 4WD LT Trail Boss': '319.50',
 '911 Carrera S': '246.33',
 'XKR CONVERTIBLE': '314.00',
 '1500 4X4 (MDS)': '341.33',
 'CAMARO': '251.53',
 'Civic Sedan Si': '178.00',
 'AMG S 63 4MATIC': '294.00',
 'R8 QUATTRO': '338.00',
 'ENCORE AWD (LUV Engine)': '208.00',
 'Silverado FFV': '325.00',
 'Veloster N': '226.00',
 'TRANSIT CONNECT VAN': '227.50',
 'HURACAN SPYDER': '338.50',
 'M2 Competition': '285.67',
 'TAURUS AWD': '283.00',
 'Huracan Performante Coupe': '370.00',
 'CR-V': '187.00',
 'CAYENNE TURBO S': '342.67',
 '328i xDRIVE TOURING': '209.00',
 'A8 QUATTRO TDI (modified)': '224.00',
 'FR-S': '210.60',
 'RANGE ROVER': '287.00',
 'MALIBU LIMITED': '202.00',
 'Suburban 4WD': '339.00',
 'NX 200t AWD': '224.00',
 'TRANSIT CONNECT': '223.00',
 'Legacy AWD': '206.00',
 'EQUINOX AWD': '250.30',
 'ENCORE SPORT TOURING AWD': '192.00',
 'A6 allroad': '247.00',
 'Silverado LD 4WD': '325.00',
 'XE P250 AWD': '200.00',
 'KICKS': '169.00',
 'Discovery Sport P290': '262.00',
 'DAWN': '393.50',
 'C 350': '242.00',
 'RAV4 AWD': '210.00',
 '335i xDRIVE GRAN TURISMO': '233.33',
 '911 CARRERA GTS': '255.83',
 'S60 INSCRIPTION T5 AWD': '226.00',
 'GHIBLI': '289.00',
 'Altima': '174.00',
 'Dawn': '398.50',
 'DART GT': '209.00',
 'HURACAN AWD': '349.00',
 'F-TYPE R COUPE AWD': '311.00',
 'KONA AWD': '201.50',
 'PHANTOM DROPHEAD COUPE': '398.50',
 'Sportage': '216.00',
 'CTS COUPE AWD': '262.00',
 'Maybach S 560 4MATIC': '286.00',
 'SAVANA 1500 PASSENGER': '362.00',
 'ODYSSEY TOURING': '247.00',
 'Ranger 4WD': '256.00',
 'CLA 45 AMG': '209.00',
 'Escape Hybrid': '136.00',
 'X7 M50i': '318.00',
 'Forester AWD': '192.00',
 'M6': '331.17',
 'F-TYPE P300 Convertible': '215.00',
 'CLS 63 AMG S 4MATIC': '301.00',
 'A 250': '192.00',
 'GLE 350d 4MATIC COUPE': '253.00',
 'M6 GRAN COUPE': '328.86',
 'Santa Fe XL AWD': '276.00',
 'GLE 450 AMG SPORT 4MATIC COUPE': '281.00',
 '4C Coupe': '197.00',
 'XJL Portfolio AWD': '280.00',
 '428i xDRIVE CABRIOLET': '221.00',
 'Fiesta': '181.00',
 '335i xDRIVE': '232.50',
 'RLX HYBRID': '185.75',
 'Sierra 4WD AT4': '315.33',
 'Cooper 3 Door': '177.67',
 'Phantom EWB': '382.00',
 'A5 QUATTRO': '215.50',
 'Passport AWD': '265.00',
 'FLYING SPUR': '360.00',
 'Mustang Bullitt': '315.00',
 'E 400 4MATIC WAGON': '255.25',
 'GLE 550 4MATIC': '323.33',
 'SAVANA 3500 PASSENGER': '432.86',
 'Tahoe FFV': '306.00',
 'IS 350': '244.67',
 'Accent': '168.25',
 'JOURNEY': '258.67',
 'HIGHLANDER AWD': '263.50',
 'Q5 QUATTRO TDI (modified)': '244.00',
 'V60 CC AWD': '237.00',
 'TT ROADSTER QUATTRO': '210.00',
 'XJ AWD': '285.00',
 'IMPALA ECO': '200.00',
 'NEW COMPASS 4X4': '221.50',
 '750Li xDrive Sedan': '290.00',
 'SIERRA': '295.47',
 'ECLIPSE CROSS 4WD': '216.00',
 'Compass': '214.50',
 'Accord Sport/Touring': '211.00',
 'LR4': '333.00',
 'F-TYPE COUPE R-DYNAMIC': '277.50',
 'WRX STI AWD TYPE RA': '296.00',
 '540i xDrive': '231.00',
 'CIVIC COUPE': '163.38',
 'SIENNA AWD': '284.25',
 'Expedition 4X4': '293.50',
 'F-TYPE S COUPE AWD': '264.50',
 '911 GT3RS': '334.00',
 'NX 300 AWD': '226.00',
 'AMG E 53 4MATIC+': '232.00',
 'Wrangler Unlimited 4X4': '276.00',
 'EXPRESS 3500 PASSENGER FFV': '427.50',
 'MAYBACH S 600': '359.00',
 'CC 4MOTION': '277.00',
 'ROUTAN': '278.00',
 'Ghibli SQ4': '295.00',
 'LACROSSE': '246.83',
 'G70': '255.00',
 'X3 xDRIVE28d': '211.67',
 'DURANGO AWD SRT': '363.00',
 'F-TYPE R AWD COUPE': '311.00',
 'IS 350 C': '244.00',
 'RX 450h L AWD': '190.00',
 'AMG C 43 4MATIC Coupe': '255.00',
 'RS 3': '246.00',
 'JOURNEY FFV': '274.86',
 'GLS 550 4MATIC': '349.33',
 'AMG SLK 55': '252.00',
 'Boxster S': '240.00',
 'RS 7 QUATTRO': '313.00',
 'Tacoma 4WD D-Cab TRD Off-Road/Pro': '300.00',
 'Challenger GT AWD': '258.00',
 'S4': '253.71',
 'CLA 250': '188.17',
 'LC 500h': '188.00',
 'M550i xDRIVE': '283.00',
 'Corvette ZR1': '374.50',
 'S8 QUATTRO': '300.00',
 'Colorado 4WD': '277.00',
 'CX-30 4WD (Cylinder Deactivation)': '200.00',
 'Q60 AWD Red Sport': '259.00',
 '4Runner 4WD (Part-Time 4WD)': '314.50',
 'V60 T5 AWD': '227.50',
 'COLORADO ZR2 4WD': '323.00',
 'COOPER S COUNTRYMAN  ALL4': '220.00',
 'Mustang Convertible': '261.83',
 '500 HATCHBACK TURBO': '190.00',
 'Panamera 4S ST': '273.00',
 'Phantom': '382.00',
 '200 SEDAN': '227.50',
 'Qashqai': '199.00',
 '4RUNNER (Part-Time 4WD)': '297.00',
 'FUSION HYBRID': '128.25',
 '535d xDRIVE': '212.50',
 '340i xDRIVE': '233.17',
 'STINGER AWD': '265.00',
 'E 300 4MATIC': '235.17',
 'SEQUOIA 4WD': '382.50',
 'C 450 AMG SPORT 4MATIC': '231.00',
 'A8L QUATTRO': '299.50',
 'ATLAS': '233.00',
 '4C COUPE': '197.00',
 'Impreza 5-Door AWD': '188.67',
 'XJL PORTFOLIO AWD': '280.00',
 '911 Carrera 4': '233.50',
 '750i xDRIVE SWB': '283.00',
 'JOURNEY AWD': '288.50',
 'Camry LE/SE': '173.00',
 'FOCUS FFV': '179.36',
 'TERRAIN': '242.60',
 'OUTBACK AWD': '225.08',
 'RANGE ROVER SPORT': '288.00',
 'RX 450h AWD': '187.25',
 'CIVIC HATCHBACK': '166.33',
 'A4 quattro': '204.50',
 'MAZDA6 (i-ELOOP)': '175.00',
 'Voyager (Stop-Start)': '249.00',
 'GRAND CHEROKEE 4X4 FFV': '264.00',
 'XF 25t AWD': '207.00',
 'CHARGER': '252.00',
 'DB9 GT': '365.00',
 'Panamera 4 Executive': '253.00',
 'SRX': '284.33',
 'LANCER': '198.18',
 'HIGHLANDER AWD LE': '242.00',
 'Journey AWD': '292.00',
 'AMG GLS 63 4MATIC': '368.50',
 'RIDGELINE AWD': '286.00',
 'Malibu': '192.33',
 'CHEROKEE 4X4 ACTIVE DRIVE II': '246.00',
 'ESCALADE ESV AWD': '365.50',
 'DART FFV': '193.00',
 'A 220 4MATIC': '199.00',
 'FLEX AWD': '290.50',
 'Aviator': '280.00',
 'M4 CABRIOLET': '280.86',
 '200 AWD FFV': '240.50',
 'GS F': '293.00',
 'TT Roadster quattro': '213.00',
 '911 CARRERA 4 GTS CABRIOLET': '263.17',
 'AMG S 63 4MATIC+ Cabriolet': '306.00',
 'Altima AWD': '186.00',
 'T-150 WAGON': '344.60',
 'Mustang Convertible (Performance Pkg)': '248.00',
 'LEVANTE S': '346.00',
 'AVENTADOR ROADSTER LP 740': '461.00',
 'CADENZA': '244.67',
 'ACCORD COUPE': '238.75',
 'Q3 QUATTRO': '239.33',
 'M3': '277.50',
 'VANTAGE GT': '349.75',
 'TOUAREG TDI (modified)': '273.50',
 'Pacifica': '259.00',
 'LS 600h L': '264.67',
 'GALLARDO COUPE': '380.50',
 'C 300 4MATIC Cabriolet': '231.00',
 'MURANO': '227.50',
 'AMG GLE 43 4MATIC COUPE': '283.00',
 'GX 460': '330.00',
 'S60 T5': '199.00',
 'GS 350': '240.00',
 'S60 INSCRIPTION': '193.00',
 'JOHN COOPER WORKS 3 DOOR': '203.00',
 'ODYSSEY': '249.25',
 'PATHFINDER': '242.00',
 'YUKON XL': '297.83',
 '650i xDRIVE GRAN COUPE': '290.25',
 'TAURUS': '228.00',
 'COOPER S 3 DOOR': '199.50',
 'BEETLE DUNE': '197.67',
 'S6': '273.20',
 'Encore GX': '198.00',
 '911 CARRERA CABRIOLET': '238.88',
 'RONDO': '214.00',
 'RANGE ROVER V8 5.0 SC FFV': '344.50',
 'AMG C 63 CABRIOLET': '291.00',
 'Optima': '214.50',
 'R8 Coupe': '347.00',
 'S5': '256.44',
 'CX-3 4WD': '190.00',
 '911 Carrera GTS': '251.50',
 'Panamera Turbo Executive': '261.00',
 '1500 FFV': '277.33',
 'FORTE 5': '207.67',
 'Chiron': '522.00',
 'Sonata Hybrid': '126.00',
 'AMG GLE 43 4MATIC Coupe': '297.00',
 'X3 xDRIVE35i': '255.25',
 'MAZDA2': '173.50',
 'DB11 V8': '271.00',
 '911 CARRERA S': '243.12',
 '535i xDRIVE GRAN TURISMO': '254.00',
 '500L': '206.14',
 'Cullinan Black Badge': '386.00',
 'CAMRY HYBRID XLE/SE': '134.60',
 '911 CARRERA 4 GTS': '257.50',
 'Tahoe': '314.00',
 'ALPINA B7 xDRIVE': '292.00',
 'S5 QUATTRO': '265.00',
 'YUKON XL 4WD FFV': '315.80',
 'Traverse AWD': '276.50',
 'Huracan Performante Spyder': '370.00',
 'XC70 AWD': '265.50',
 '4RUNNER 4WD (Part-Time 4WD)': '302.50',
 'QX30': '200.00',
 'SQ5 QUATTRO': '285.00',
 '228i xDRIVE': '207.00',
 'COMPASS': '222.06',
 'Acadia AWD': '256.00',
 'C 400 4MATIC': '228.00',
 'Charger Widebody (MDS)': '305.00',
 'ALLROAD QUATTRO': '242.00',
 'Yukon 4WD': '324.50',
 'M5 SEDAN': '326.50',
 'CRUZE HATCHBACK PREMIER': '176.00',
 '911 TURBO S EXCLUSIVE': '285.00',
 'COOPER COUPE': '171.50',
 'AMG GLC 43 4MATIC': '269.50',
 'Range Rover Sport 3.0': '277.50',
 'GLC 300 4MATIC Coupe': '234.00',
 'RAV4 LE/XLE': '207.67',
 '640i xDrive Gran Coupe': '248.00',
 'S 400 4MATIC': '248.00',
 'XF 3.0L AWD': '281.00',
 'CT4 AWD': '225.50',
 'A8L TDI (modified)': '224.00',
 '911 Carrera 4 GTS': '252.50',
 'M235i CABRIOLET': '240.25',
 'XC60 3.0T AWD': '276.00',
 '740Li xDRIVE SEDAN': '237.00',
 '200 CONVERTIBLE FFV': '236.00',
 '1500 4X4 EcoDiesel': '260.00',
 'ARMADA 4WD': '374.67',
 'CAYENNE S HYBRID': '251.00',
 'FUSION AWD': '239.17',
 'A8': '255.38',
 'CHALLENGER SRT (MDS)': '304.50',
 'Soul': '199.40',
 'ORLANDO': '239.50',
 'PATHFINDER HYBRID 4WD': '202.00',
 'Silverado WT': '275.00',
 'AMG GT R Coupe': '327.00',
 'JETTA': '193.00',
 'ENCORE (SIDI with Stop/Start)': '185.00',
 'Cooper S 5 Door': '197.00',
 '911 Targa 4S': '239.50',
 '1500 4X4 DIESEL': '286.00',
 'OPTIMA FE': '190.00',
 'S 560 Cabriolet': '275.00',
 'Range Rover Evoque P300': '242.00',
 'XK COUPE': '290.00',
 'C 350 4MATIC': '239.00',
 'FORTWO COUPE': '151.33',
 'Q7': '279.50',
 'PANAMERA S': '263.00',
 'Maybach S 650': '355.00',
 'GL 550 4MATIC': '361.00',
 'SIENNA': '260.00',
 'S60': '223.00',
 'Range Rover Sport SVR': '336.00',
 'TT Coupe quattro': '213.00',
 'MACAN S': '283.00',
 'LANCER 4WD': '211.00',
 'XC70 T5': '207.50',
 'CX-9': '254.00',
 'SILVERADO': '295.60',
 'Cruze Hatchback Diesel': '178.00',
 'OPTIMA': '205.71',
 'Ridgeline AWD': '266.00',
 'Atlas Cross Sport 4MOTION': '273.00',
 'MAZDA3 4-DOOR': '169.75',
 '230i Cabriolet': '204.00',
 'Q8': '295.00',
 'RANGE ROVER SPORT V6 3.0 SC': '285.00',
 '760Li SEDAN': '356.00',
 'AMG GT S': '303.00',
 'Odyssey Touring': '247.00',
 'Ghibli S Q4': '295.00',
 'CT5-V': '263.00',
 'DISCOVERY SPORT': '248.67',
 '1500 ECODIESEL': '274.33',
 'GIULIA': '205.00',
 'TUCSON 4WD': '243.00',
 'VELOSTER TURBO': '196.50',
 'COOPER 3 DOOR': '175.86',
 'Enclave AWD': '277.50',
 'TRAX AWD': '205.00',
 'TACOMA 4WD D-CAB OFF-ROAD': '300.00',
 'Niro FE': '110.00',
 'RANGE ROVER SPORT TD6 DIESEL': '254.00',
 'AVENTADOR COUPE': '427.00',
 'SRX AWD': '297.00',
 'Cherokee 4X4 Active Drive I': '236.00',
 'SAVANA 3500 PASSENGER FFV': '427.50',
 'SORENTO 4WD': '262.00',
 'CT5 AWD': '244.50',
 'CONTINENTAL GT SPEED CONVERTIBLE': '380.00',
 'PANAMERA TURBO ST': '279.00',
 'CT4-V': '234.00',
 'AMG GLE 63 S COUPE 4MATIC': '363.00',
 'ENCORE (LE2 Engine)': '185.00',
 'LACROSSE FFV': '264.00',
 'Q5 HYBRID QUATTRO': '209.00',
 'M235i xDRIVE CABRIOLET': '238.00',
 'V90 CC T5 AWD': '214.00',
 'Sentra (Turbo)': '194.00',
 'DURANGO AWD FFV': '264.00',
 'Charger SRT Hellcat Widebody': '368.00',
 'SANTA FE SPORT 4WD': '259.50',
 'Q7 TDI (modified)': '290.00',
 'EXPEDITION 4X4': '321.25',
 'XC70 T5 AWD': '254.00',
 'SONIC': '185.94',
 'Santa Fe XL': '268.00',
 'X6 xDRIVE50i': '320.00',
 'JOHN COOPER WORKS COUPE': '186.75',
 'XFR-S': '305.00',
 '428i COUPE': '201.60',
 'Q60 AWD RED SPORT': '259.00',
 'AMG GL 63 S': '369.00',
 'COLORADO 4WD': '274.00',
 'YUKON XL FFV': '293.20',
 'FLEX AWD (EcoBoost)': '294.00',
 'TIGUAN': '251.00',
 'RAV4 HYBRID AWD': '170.00',
 '330i xDRIVE': '210.50',
 'Prius c': '120.00',
 'Frontier 4WD': '310.00',
 'iM': '176.50',
 'GLE 400 4MATIC': '280.00',
 'FIT': '162.15',
 'M240i CABRIOLET': '235.75',
 'M5': '328.80',
 'Corsair AWD': '229.50',
 'Palisade AWD': '265.00',
 'RANGE ROVER VELAR': '251.00',
 'ACTIVEHYBRID 5': '216.33',
 'CR-Z': '157.50',
 'GOLF SPORTWAGON': '191.33',
 'XFR': '300.00',
 'E 350 CABRIOLET': '239.00',
 'R8 Spyder': '347.00',
 'E 550 COUPE': '264.00',
 'Charger AWD (MDS)': '312.00',
 'Fusion Hybrid': '131.00',
 'XTERRA 4WD': '325.00',
 'A3 CABRIOLET QUATTRO': '212.00',
 '430i Coupe': '204.00',
 'ES 350': '219.20',
 'Regal': '212.50',
 'Edge AWD': '250.00',
 'M240i COUPE': '236.25',
 'LS 500 AWD': '260.67',
 'NIRO TOURING': '129.00',
 'A4 QUATTRO': '213.78',
 'Fusion': '203.50',
 'AMG E 63 S 4MATIC+': '318.00',
 'WRANGLER UNLIMITED 4X4': '311.00',
 'CHEROKEE 4X4 ACTIVE DRIVE I FFV': '233.00',
 'CLS 400 4MATIC': '247.00',
 '911 CARRERA GTS CABRIOLET': '260.17',
 'CX-5 4WD (Cylinder Deactivation)': '208.00',
 'Suburban FFV': '306.00',
 'XC70 3.2 AWD': '260.00',
 'TACOMA 4WD': '289.64',
 'RVR': '204.62',
 'GHIBLI S': '293.00',
 'AMG GT ROADSTER': '304.00',
 'CAMARO SS': '283.17',
 'EDGE AWD': '267.46',
 'PANAMERA 4': '250.67',
 'RAV4 LIMITED/SE AWD': '223.00',
 'LANCER EVOLUTION': '285.50',
 'SLS AMG GT ROADSTER': '359.00',
 '1500 EcoDiesel': '243.00',
 'MAYBACH S 650': '355.00',
 'TAHOE': '297.83',
 'Q5 HYBRID': '208.50',
 'NSX': '261.00',
 '740Ld xDRIVE SEDAN': '238.00',
 'R8 SPYDER': '361.44',
 'ELANTRA': '187.92',
 'CAMRY LE/SE': '172.00',
 'Wrangler JL Unlimited 4X4': '268.33',
 'PANAMERA 4S ST': '249.00',
 'RANGE ROVER SPORT V8 5.0 SC FFV': '334.50',
 'S60 CC T5 AWD': '229.50',
 'TRANSIT CONNECT TAXI': '232.00',
 'CHALLENGER GT AWD FFV': '253.00',
 'RS 5 Coupe': '262.00',
 'PATHFINDER 4WD PLATINUM': '257.00',
 'CHARGER AWD': '269.50',
 'Equinox': '197.00',
 '300 AWD (MDS)': '308.00',
 'Range Rover SVAutobiography Dynamic': '354.00',
 'Sienna AWD': '274.00',
 'Accord Hybrid': '117.00',
 'CT 200h': '130.67',
 '640i xDrive Gran Turismo': '241.00',
 'XJL PORTFOLIO 3.0 AWD': '280.00',
 'F-PACE SVR': '303.00',
 '500X AWD': '221.00',
 'SHELBY GT350 MUSTANG': '337.50',
 'X4 xDrive30i': '219.00',
 'EOS': '220.00',
 'CHEROKEE 4X4 ACTIVE DRIVE I': '238.00',
 'Yukon 4WD FFV': '317.00',
 'GLC 300 4MATIC COUPE': '235.00',
 'S80 T5': '193.00',
 'Q50 HYBRID': '176.50',
 'Q50 AWD': '241.70',
 'Mazda3 4-Door': '179.50',
 'Rio': '167.50',
 'RANGE ROVER V6 3.0 SC': '283.00',
 'WRANGLER 4X4 (2-DOOR)': '294.00',
 'SLK 350': '227.00',
 'HIGHLANDER AWD (Start/Stop System)': '247.00',
 'GRAND CHEROKEE 4X4 (MDS)': '335.67',
 'Sonata Hybrid SE': '132.00',
 'WRANGLER UNLIMITED 4X4 (4-DOOR)': '308.00',
 'TAHOE 4WD FFV': '303.00',
 'SPORTAGE AWD': '255.71',
 'Yukon XL 4WD': '339.00',
 'Golf': '173.75',
 'Jetta': '162.50',
 'GHIBLI SQ4': '295.00',
 '760Li': '356.00',
 'M6 Gran Coupe': '344.00',
 '4RUNNER 4WD': '301.40',
 'Discovery Sport': '246.00',
 'FOCUS (Start/Stop)': '170.00',
 'DART TURBO AERO': '169.50',
 'Civic Sedan': '172.50',
 'Insight Touring': '114.00',
 'Cooper S Countryman ALL4': '218.33',
 'ALPINA B6 xDRIVE GRAN COUPE': '289.67',
 '370Z COUPE': '259.50',
 'COOPER S CONVERTIBLE': '195.90',
 'PASSAT': '214.27',
 'V12 VANTAGE S': '401.75',
 'X2 xDrive28i': '214.50',
 'FLEX AWD GTDI': '321.50',
 'CORVETTE': '275.75',
 '750i xDrive Sedan': '290.00',
 'X3 M Competition': '339.00',
 'F-150 4X4 (Payload Pkg)': '300.75',
 'ES 350 F SPORT': '219.00',
 'Civic Type R': '223.50',
 'HURACAN SPYDER AWD': '350.00',
 'Atlas 4MOTION': '286.00',
 'Macan S': '272.00',
 'Trax AWD': '214.00',
 'SPORTAGE': '236.67',
 'CONTINENTAL GT': '338.20',
 'Cooper Countryman ALL4': '209.67',
 'S5 Cabriolet': '243.00',
 'CX-5 (SIL)': '188.00',
 'A5 Sportback quattro': '204.50',
 'SIERRA FFV': '284.00',
 'MAZDA3 5-DOOR (i-ELOOP)': '171.25',
 'RIO ECO': '175.00',
 'Sierra FFV': '325.00',
 'Corolla XLE': '170.00',
 'IONIQ Blue': '96.00',
 'XKR COUPE': '309.00',
 'NV200 Cargo Van': '218.00',
 'LEGACY AWD': '216.92',
 'CT6 AWD': '270.00',
 'M850i xDrive Cabriolet': '280.00',
 'MAZDA3 4-DOOR (i-ELOOP)': '169.75',
 'A4 ALLROAD QUATTRO': '223.50',
 'COOPER S ROADSTER': '186.75',
 'Giulia Quadrifoglio': '275.50',
 'S60 T5 AWD': '227.50',
 'GRAND CHEROKEE 4X4 DIESEL': '267.00',
 'QASHQAI': '203.50',
 'Tacoma 4WD': '283.67',
 'COROLLA LE ECO (2-mode)': '162.00',
 'S 600': '344.33',
 'TERRAIN FFV': '217.00',
 '750i xDRIVE': '285.00',
 '430i xDRIVE CABRIOLET': '212.50',
 'E 63 AMG S 4MATIC WAGON': '308.00',
 'XJ R-Sport AWD': '276.00',
 'Stinger AWD': '254.00',
 'Micra': '187.00',
 '330i xDRIVE TOURING': '210.50',
 'Golf GTI': '202.67',
 'RANGE ROVER SUPERCHARGED': '348.33',
 '530i xDrive Sedan': '206.00',
 'VIPER GTS COUPE': '389.00',
 'X6 M50i': '302.00',
 'Stelvio AWD Quadrifoglio': '290.00',
 'S5 Sportback': '237.50',
 'TACOMA': '260.67',
 'Maxima': '233.00',
 'M550i xDrive Sedan': '273.00',
 'M3 SEDAN': '272.50',
 'PACIFICA (Stop-Start)': '249.00',
 '750i xDrive': '269.00',
 'XC70 T6 AWD': '274.00',
 'JOHN COOPER WORKS CLUBMAN': '187.50',
 'Frontier': '287.33',
 '228i CABRIOLET': '205.00',
 '440i Coupe': '238.00',
 'Cruze': '172.00',
 'XTS': '260.80',
 'SANTA FE ULTIMATE AWD': '291.00',
 '328d xDRIVE TOURING': '184.25',
 'DB11 AMR': '312.00',
 'CTS COUPE': '258.00',
 'Sierra LTD 4WD': '325.00',
 'HURACAN': '333.67',
 'REGAL': '227.00',
 'AVENTADOR ROADSTER': '451.75',
 'F-TYPE R CONVERTIBLE AWD': '311.00',
 'GIULIA AWD': '217.00',
 'F-150 FFV 4X4': '297.90',
 'F-TYPE Coupe R-Dynamic AWD': '265.00',
 'LX 570': '378.50',

In [17]:
classesFromVehicleClass = targetEncodingScheme('VehicleClass')
classesFromVehicleClass

{'SUBCOMPACT': '244.08',
 'MINICOMPACT': '236.63',
 'PICKUP TRUCK - SMALL': '276.33',
 'SUV - STANDARD': '306.55',
 'MID-SIZE': '222.82',
 'COMPACT': '218.04',
 'VAN - PASSENGER': '397.21',
 'SUV - SMALL': '236.37',
 'MINIVAN': '261.70',
 'FULL-SIZE': '264.52',
 'PICKUP TRUCK - STANDARD': '301.94',
 'VAN - CARGO': '361.50',
 'SPECIAL PURPOSE VEHICLE': '237.66',
 'STATION WAGON - SMALL': '202.54',
 'STATION WAGON - MID-SIZE': '241.21',
 'TWO-SEATER': '282.42'}

In [18]:
co2Data['Make'] = co2Data['Make'].map(classesFromMake).astype(float)
co2Data['Model'] = co2Data['Model'].map(classesFromModel).astype(float)
co2Data['VehicleClass'] = co2Data['VehicleClass'].map(classesFromVehicleClass).astype(float)

In [19]:
co2Data[:18]

,Make,Model,VehicleClass,EngineSize,Cylinders,FuelConsumptionCity,CO2Emissions
0,221.08,200.29,218.04,2.0,4,9.9,196
1,221.08,200.29,218.04,2.4,4,11.2,221
2,221.08,138.00,218.04,1.5,4,6.0,136
3,221.08,255.00,236.37,3.5,6,12.7,255
4,221.08,243.75,236.37,3.5,6,12.1,244
5,221.08,232.50,222.82,3.5,6,11.9,230
6,221.08,232.00,222.82,3.5,6,11.8,232
7,221.08,261.00,222.82,3.7,6,12.8,255
8,221.08,261.00,222.82,3.7,6,13.4,267
9,221.08,225.33,218.04,2.4,4,10.6,212
10,221.08,225.33,218.04,2.4,4,11.2,225
11,221.08,225.33,218.04,3.5,6,12.1,239
12,231.32,195.00,282.42,1.8,4,9.7,193
13,344.28,359.00,236.63,5.9,12,18.0,359
14,344.28,359.00,244.08,5.9,12,18.0,359
15,344.28,350.60,282.42,4.7,8,17.4,338
16,344.28,350.60,282.42,4.7,8,18.1,354
17,344.28,350.60,282.42,4.7,8,17.4,338

## Correlation Analysis

### Pearson's Correlation Coefficient

- The Pearson correlation coefficient \( r \) is a measure of the linear relationship between two variables. It is calculated using the formula:

$$ 
r = \frac{n \sum (XY) - \sum X \sum Y}{\sqrt{[n \sum (X^2) - (\sum X)^2][n \sum (Y^2) - (\sum Y)^2]}}
$$

- Dependent Variable    = CO2Emissions
- Independent Variables = EngineSize, Cylinders, FuelConsumptionCity

In [20]:
def Karl_Pearson_Correlation(indeFeature, depenFeature):
    X = co2Data[indeFeature]
    Y = co2Data[depenFeature]
    n = len(Y)        
    sumX = sum(X)
    sumY = sum(Y)
    sumXY = sum(X[:] * Y[:])
    sumXsq = sum(X[:] * X[:])
    sumYsq = sum(Y[:] * Y[:])
    numerator = (n * sumXY) - (sumX * sumY)
    denominator = (n * sumXsq - (sumX ** 2)) * (n * sumYsq - (sumY ** 2))
    if denominator != 0:
        corr = numerator / math.sqrt(denominator)
    else:
        corr = None
    return corr

In [21]:
correlations = {"EngineSize-CO2Emissions": [], "Cylinders-CO2Emissions": [], "FuelConsumptionCity-CO2Emissions": []}
for feature in ["EngineSize", "Cylinders", "FuelConsumptionCity"]:
    corr = Karl_Pearson_Correlation(feature, "CO2Emissions")
    correlations[f"{feature}-CO2Emissions"].append(corr)
    correlations[f"{feature}-CO2Emissions"].append(corr ** 2)
pd.DataFrame(correlations, index = ['Correlation (r)', 'Goodness of Fit (r^2)'])

,EngineSize-CO2Emissions,Cylinders-CO2Emissions,FuelConsumptionCity-CO2Emissions
Correlation (r),0.855194,0.834444,0.918415
Goodness of Fit (r^2),0.731356,0.696298,0.843487

In [22]:
#confusion matrix for examining multicollinearity
columns = co2Data.drop(columns = ['Make', 'Model', 'VehicleClass'], axis = 1).columns.tolist()
corr = {"EngineSize": [], "Cylinders": [], "FuelConsumptionCity": [], "CO2Emissions": []}
for x in columns:
    for y in columns:
        corr[x].append(Karl_Pearson_Correlation(x, y))
confusionMatrix = pd.DataFrame(corr, index = columns)
confusionMatrix

                     EngineSize  Cylinders  FuelConsumptionCity  CO2Emissions
EngineSize             1.000000   0.928464             0.834919      0.855194
Cylinders              0.928464   1.000000             0.801500      0.834444
FuelConsumptionCity    0.834919   0.801500             1.000000      0.918415
CO2Emissions           0.855194   0.834444             0.918415      1.000000

## <center> The Multiple Linear Regression </center>

###  Splitting the data into training and testing sets in an 80:20 ratio

In [23]:
n = int(len(co2Data) * 80/100)
indexForTrainingSet = random.sample(range(len(co2Data)), n)
print(f"the length of the sampled indices: {len(indexForTrainingSet)}")
print(f"Is duplicated? : {len(indexForTrainingSet) != len(set(indexForTrainingSet))}")
indexForTrainingSet[:10]

the length of the sampled indices: 4872
Is duplicated? : False

[4385, 5808, 5259, 1043, 374, 309, 2136, 1255, 1964, 925]

In [24]:
print(f"Is this exactly 80%? : {len(indexForTrainingSet) == n}")

Is this exactly 80%? : True

In [25]:
trainingSet = {'Make': [], 'Model': [], 'VehicleClass': [], 'EngineSize': [], 'Cylinders': [], 'FuelConsumptionCity': [], 'CO2Emissions': []}
testingSet = {'Make': [], 'Model': [], 'VehicleClass': [], 'EngineSize': [], 'Cylinders': [], 'FuelConsumptionCity': [], 'CO2Emissions': []}
for index in range(len(co2Data)):
    if index in indexForTrainingSet:
        trainingSet['Make'].append(co2Data.iloc[index]['Make'])
        trainingSet['Model'].append(co2Data.iloc[index]['Model'])
        trainingSet['VehicleClass'].append(co2Data.iloc[index]['VehicleClass'])
        trainingSet['EngineSize'].append(co2Data.iloc[index]['EngineSize'])
        trainingSet['Cylinders'].append(co2Data.iloc[index]['Cylinders'])
        trainingSet['FuelConsumptionCity'].append(co2Data.iloc[index]['FuelConsumptionCity'])
        trainingSet['CO2Emissions'].append(co2Data.iloc[index]['CO2Emissions'])
    elif index not in indexForTrainingSet:
        testingSet['Make'].append(co2Data.iloc[index]['Make'])
        testingSet['Model'].append(co2Data.iloc[index]['Model'])
        testingSet['VehicleClass'].append(co2Data.iloc[index]['VehicleClass'])
        testingSet['EngineSize'].append(co2Data.iloc[index]['EngineSize'])
        testingSet['Cylinders'].append(co2Data.iloc[index]['Cylinders'])
        testingSet['FuelConsumptionCity'].append(co2Data.iloc[index]['FuelConsumptionCity'])
        testingSet['CO2Emissions'].append(co2Data.iloc[index]['CO2Emissions'])
trainingSet = pd.DataFrame(trainingSet).reset_index(drop = True)
testingSet = pd.DataFrame(testingSet).reset_index(drop = True)

In [26]:
print(f"the length of the training set: {len(trainingSet)}")
print(f"the length of the testing set: {len(testingSet)}")
print(f"the ratio of the training set to the entire dataset: {int((len(trainingSet) / len(co2Data)) * 100)}%")
print(f"the ratio of the testing set to the entire dataset: {int((len(testingSet) / len(co2Data)) * 100)}%")

the length of the training set: 4872
the length of the testing set: 1218
the ratio of the training set to the entire dataset: 80%
the ratio of the testing set to the entire dataset: 20%

In [27]:
trainingSet[:5]

,Make,Model,VehicleClass,EngineSize,Cylinders,FuelConsumptionCity,CO2Emissions
0,221.08,200.29,218.04,2.0,4.0,9.9,196.0
1,221.08,200.29,218.04,2.4,4.0,11.2,221.0
2,221.08,255.00,236.37,3.5,6.0,12.7,255.0
3,221.08,243.75,236.37,3.5,6.0,12.1,244.0
4,221.08,232.50,222.82,3.5,6.0,11.9,230.0

In [28]:
testingSet[:5]

,Make,Model,VehicleClass,EngineSize,Cylinders,FuelConsumptionCity,CO2Emissions
0,221.08,138.00,218.04,1.5,4.0,6.0,136.0
1,221.08,225.33,218.04,2.4,4.0,11.2,225.0
2,344.28,350.60,282.42,4.7,8.0,18.1,354.0
3,252.80,215.50,244.08,2.0,4.0,10.8,214.0
4,252.80,230.56,222.82,3.0,6.0,12.8,251.0

###  Model training

####  Calculating Coefficients for Multiple Linear Regression Using Ordinary Least Squares

In [29]:
matrixX = trainingSet[['Make', 'Model', 'VehicleClass', 'EngineSize', 'Cylinders', 'FuelConsumptionCity']][:5]
ones = np.ones((matrixX.shape[0],1))
matrixX = np.hstack((ones, matrixX))

In [30]:
matrixX

array([[  1.  , 221.08, 200.29, 218.04,   2.  ,   4.  ,   9.9 ],
       [  1.  , 221.08, 200.29, 218.04,   2.4 ,   4.  ,  11.2 ],
       [  1.  , 221.08, 255.  , 236.37,   3.5 ,   6.  ,  12.7 ],
       [  1.  , 221.08, 243.75, 236.37,   3.5 ,   6.  ,  12.1 ],
       [  1.  , 221.08, 232.5 , 222.82,   3.5 ,   6.  ,  11.9 ]])

In [31]:
matrixY = np.matrix(trainingSet['CO2Emissions'][:5]).T

In [32]:
matrixY

matrix([[196.],
        [221.],
        [255.],
        [244.],
        [230.]])

In [33]:
matrixXTrans = matrixX.T
matrixXTrans

array([[  1.  ,   1.  ,   1.  ,   1.  ,   1.  ],
       [221.08, 221.08, 221.08, 221.08, 221.08],
       [200.29, 200.29, 255.  , 243.75, 232.5 ],
       [218.04, 218.04, 236.37, 236.37, 222.82],
       [  2.  ,   2.4 ,   3.5 ,   3.5 ,   3.5 ],
       [  4.  ,   4.  ,   6.  ,   6.  ,   6.  ],
       [  9.9 ,  11.2 ,  12.7 ,  12.1 ,  11.9 ]])

In [34]:
matrix_XXT = np.matmul(matrixX, matrixXTrans)
matrix_XXT

array([[136652.9021, 136666.5721, 151646.1612, 149386.9587, 144177.2742],
       [136666.5721, 136682.0921, 151664.0712, 149404.0887, 144194.1442],
       [151646.1612, 151664.0712, 169982.6833, 167106.3133, 161032.2098],
       [149386.9587, 149404.0887, 167106.3133, 164356.8658, 158409.4448],
       [144177.2742, 144194.1442, 161032.2098, 158409.4448, 152772.2288]])

## <center> ......  An updated version will be published  ........... </center>